body {
   font-family: 'Open Sans', sans-serif;
   background-color: #111111;
   margin: 0;
}

.canvas{
   width:100vw;
   height:100vh;
   z-index: 10;
   background-color: black;
   opacity: 0.4;
   position: absolute;
}


.big-container {
   position: relative;
   width: 100vw;
   height: 100vh;
}

.slides {
   position: absolute;
   top: 0;
   width: 100vw;
   height: 100vh;
   opacity: 0;
   overflow: hidden;
   transition: opacity .2s ease-in-out;
}


#btn-draw{
   position: absolute;
   height: 50px;
   width: 50px;
   left: 46%;
   top: 80%;
   border-radius: 50%;
   background-color: transparent;
   color: white;
   border: 2px solid #4CAF50;
   font-size: 10px;
   box-shadow: 0 0 3px gray;

   z-index: 500;
   -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#btn-draw:hover{
   background-color: #4CAF50;
   color: white;
}



.slides.fadeImage {
   opacity: 1;
}

.buttons-container {
   position: absolute;
   margin: 12px auto;
   width: 100vw;
   top: 45vh;
   color: #EEEEEE;
   text-align: center;
   font-size: 28px;
   z-index: 12;
}

.left-arrow, .right-arrow, .dot-button {
   cursor: pointer
}

.left-arrow {
   float: left;
   padding-left: 16px;
}
.right-arrow {
   float: right;
   padding-right: 16px;
}
.left-arrow, .right-arrow {
   color: rgba(255, 255, 255, 0.2);
   transition: background-color .3s, color .15s, opacity 0.3s;
}
.left-arrow:hover, .right-arrow:hover {
   color: #EEEEEE
}
